<div class="container">
    <h1>Contact</h1>

    <!-- <ul class="social-media">
        <li><i class='bx bxl-gmail'></i></li>
        <li><i class='bx bxl-facebook-circle'></i></li>
        <li><i class='bx bxl-instagram'></i></li>
    </ul> -->

    <ul class="social-media">
        <li><i class='bx bxl-gmail' (click)="openGmail()"></i></li>
        <li><i class='bx bxl-facebook-circle' (click)="openFacebook()"></i></li>
        <li><i class='bx bxl-instagram' (click)="openInstagram()"></i></li>
      </ul>
      

    <ul class="contact-info">
        <li>Mobile: 8847811608</li>
        <li>psubha936@gmail.com</li>
    </ul>
</div>